html,
body,
#root
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.label > div {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  background: rgb(112, 112, 112);
  color: white;
  padding: 10px;
  overflow: hidden;
  user-select: none;
  border-radius: 5px;
  opacity: 0.8;
}

/* .scroll-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
}
.scroll-window > div {
  width: 100%;
  height: 200%;
} */